@tailwind base;
@tailwind components;
@tailwind utilities;
/* YouTube-like scrollbar */
/* YouTube-style subtle scrollbar */
.sidebar-scroll {
  scrollbar-width: thin;
  scrollbar-color: #bdbdbd transparent;
}

.sidebar-scroll::-webkit-scrollbar {
  width: 6px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 10px;
}
